<div class="backgrounds">

  </div>
 
  <div class="loginbox" style="position: absolute;">
    <img src="../assets/images/Oyespace.png" class="avatar">
    <h1>Client Access</h1>
 
 
 
    <form>
      <input [ngClass]="{'has-error' : mobilenumbers.invalid && mobilenumbers.touched}"
      type="text" (keypress)=_keyPress($event)
   ng2TelInput
   [ng2TelInputOptions]="{initialCountry: 'in'}"
   (hasError)="hasError($event)"
   (ng2TelOutput)="getNumber($event)"
   (intlTelInputObject)="telInputObject($event)"
   (countryChange)="onCountryChange($event)"
   name="mobilenumber"
   placeholder="Mobile Number"
   #mobilenumbers='ngModel'
   id="mobnum"
   pattern="^[6-9]{1}[0-9]{9}$" required
   [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
   [(ngModel)]='mobilenumber' maxlength="10"ç style="border-bottom: 1px solid #F08A33;"/>
   <p class="alerts" *ngIf="mobilenumbers.invalid && mobilenumbers.touched" style=" position: absolute; font-size: 11px; color: red; margin: -2% 0% 0% 2%;">Enter valid number</p>
 
      <input type="submit" [disabled]="mobilenumbers.invalid" (click)="sendOTP()" #myButton1 id="myButton1" name="" value="Get OTP" style="width: 74px; height: 28px; font-size: small;margin-left: 12%;"><br><br>
      <input type="text" [(ngModel)]="otp" name="otp" placeholder="Enter OTP" autocomplete="off"
        style="width: -webkit-fill-available;  border-bottom: 1px solid #F08A33;"><br>
 
        <div id="some_div" style="position: absolute; margin: -12% 0% 0% 56%;">
        </div>
 
        <a aria-disabled="true" id="otpBycall" href="" (click)="otpCall($event)" style="margin-left: 75%;color: orange;font-size: 14px;">OTP by Call</a><br>
 
        <div id="snackbar">OTP Sent</div>
 
 
      <input (keydown)="verifyOtp($event)" type="submit" (click)="verifyOtp()" style="margin: 5% 0% 3% 23%;" name="" value="Get In"><br>
 
 
      </form>
 
  </div>