<table class="table" style="background-color: whitesmoke">
    <tr id="label16">
        <td>Amenity Type</td>
        <td>No of Amenity</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of newamenities; let i = index">
            <td>
              <input type="text" required name="AMType" id="AMType" [(ngModel)]="item['AMType']"
                #amenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type" style="font-family: Poppins"
                pattern="[a-zA-Z]*" />
              <p class="alerts" *ngIf="amenityTypecontrol.invalid && amenityTypecontrol.touched"> Valid Amenity type is required
              </p>
            </td>
            <td>
              <input type="text" required name="NoofAmenities" id="NoofAmenities" [(ngModel)]="item['NoofAmenities']" #amenityNocontrol="ngModel"
                class="form-control" placeholder="No of Amenities" style="font-family: Poppins" pattern="[0-9]*" />
              <p class="alerts" *ngIf="amenityNocontrol.invalid && amenityNocontrol.touched"> Valid no of amenity is required</p>
            </td>
            <td>
                <p><button class="fa fa-trash fa-1x" (click)="deleteAmenity(item['AMType'])"></button></p>
            </td>
          </tr>
    <tr>
        <td>
            <input type="text" name="AMType" [(ngModel)]='newamenity.AMType' id="AMType"
                #newamenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type"
                style="font-family: Poppins" pattern="[a-zA-Z]*" />
            <p class="alerts" *ngIf="newamenityTypecontrol.invalid && newamenityTypecontrol.touched">
                Valid Amenity type is required</p>
        </td>
        <td>
            <input type="text" name="NoofAmenities" [(ngModel)]='newamenity.NoofAmenities' id="NoofAmenities"
                #newamenityNocontrol="ngModel" class="form-control" placeholder="No of Amenities"
                style="font-family: Poppins" pattern="[0-9]*" />
            <p class="alerts" *ngIf="newamenityNocontrol.invalid && newamenityNocontrol.touched"> Valid no of amenity is required</p>
        </td>
        <td>
            <p><button class="fa fa-plus-square fa-1x" (click)="addAmenity()"></button></p>
        </td>
    </tr>
</table>